@font-face {
    font-family: 'Sans';
    src: url(NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px black;
}

.top {
    font-family: 'Sans';
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(51, 47, 47);
    box-shadow: 0 0 10px black;
    padding: 3px;
    margin: 0px;
    border-radius: 0 0 20px 20px;
}

.top-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-name {
    font-family: 'Sans';
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
    color: white;
    text-shadow: 0 0 6px black;
    gap: 10px;
    letter-spacing: 1.5px;
    margin-left: 10px;
    width: 100%;
}

.top-name p {
    font-size: 110%;
}

.top-name img {
    width: 5.5%;
    padding: 5px;
    background-color: white;
    border-radius: 30%;
    box-shadow: 0 0 7px black;
}

.first {
    background-color: rgb(49, 45, 45);
    margin-top: 5vh;
    width: 96%;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    font-family: 'Sans';
    border-radius: 12px;
    padding: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px rgb(5, 133, 138);
}

.points-withdraw {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: 1px;
    margin-top: 15px;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.points {
    font-size: 100%;
    color: white;
    padding: 1px;
    margin: 10px;
    font-weight: 400;
    width: 100%;
}

.withdraw-btn {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.withdraw-btn:active {
    color: white;
}

.withdraw {
    background-color: whitesmoke;
    width: fit-content;
    margin: 10px;
    border-radius: 8px;
    border: none;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    font-family: 'Sans';
    padding:7px 10px 7px 10px;
    font-size: 16px;
    margin-top: -8px;
}
.withdraw:active {
    scale: 0.95;
    background-color: rgb(36, 34, 34);
    box-shadow: 0 0 3px white;
    color: white;
}

h1 {
    font-size: 19px;
    font-family: 'Math';
}

.user {
    font-size: 14px;
    font-weight: 400;
    color: white;
    font-family: 'Sans';
}

.userid {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: right;
    padding: 1px;
    margin-right: 5px;
    margin-top: -10px;
    font-family: 'Sans';
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.userid img {
    width: 21px;
}

.userid img:active {
    scale: 0.95;
    background-color: transparent;
    box-shadow: 0 0 10px white;
    border-radius: 50%;
    padding: 6px;
}

#userIdDisplay {
    display: none;
    width: 100px;
    max-width: 120px;
    font-size: 12px;
    color: black;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(252, 252, 252);
    color: black;
    border: none;
    cursor: pointer;
    font-family: 'Sans';
    font-weight: 600;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 4px black;
    letter-spacing: 1px;
    width: 150px;
    font-size: 17px;
}

.btn:hover {
    background-color: rgb(58, 55, 55);
}

.btn:disabled {
    background-color: rgba(201, 184, 184, 0.384);
    color: rgb(218, 210, 210);
}

.write-up {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    padding: 1px;
    margin: 1px;
    margin-top: 36vh;
    margin-bottom: 10vh;
    gap: 2vh;
    justify-content: center;
}

.content1 {
    font-family: 'Math';
    color: black;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: rgba(10, 95, 165, 0.438);
    padding: 20px;
    margin: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.61);
    border-radius: 4px;
    width:82% ;
}

.content2 {
    margin-top: 50px;
    font-family: 'Math';
    color: black;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: rgba(9, 156, 156, 0.616);
    margin-bottom: 100px;
    padding: 20px;
    margin: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.61);
    border-radius: 4px;
    width: 86%;
}

.whatsapp {
    display: none;
    width: 45px;
    position: fixed;
    bottom: 15px;
    right: 10px;
    border-radius: 50%;
}

.customer_care {
    width: 35px;
    position: fixed;
    bottom: 22px;
    right: 10px;
    background-color: rgb(29, 151, 5);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.815);
}

.logout {
    width: 35px;
    background-color: rgb(29, 151, 5);
    padding: 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 22px;
    left: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.815);
}

.external {
    padding: 10px;
}